{% extends "courses.html" %}
{% load i18n %}
	{% block title %}{% trans "My Courses" %}{% endblock %}
}

{% block content %}
	<h1>{% trans "My Courses" %}</h1>
<div class="module">
	{% for course in object_list %}
		<div class="course-info">
				<h3>
					{{ course.title }}
				</h3>
				<p>
					<a href="{% url 'courses:course_edit' course.id %}">{% trans "Edit" %}</a>
					<a href="{% url 'courses:course_delete' course.id %}">{% trans "Delete" %}</a>
					<a href="{% url 'courses:course_module_update' course.id %}">{% trans "Edit Modules" %}</a>
					{% if course.modules.count > 0 %}
					<a href="{% url 'courses:module_content_list' course.modules.first.id %}">{% trans "Manage contents" %}</a>
					{% endif %}
				</p>
			</div>
		{% empty %}
			<p>{% trans "You have yet to create any courses" %}...</p>

		{% endfor %}

	<p>
		<a href="{% url 'courses:course_create' %}" class="button">{% trans "Create New Course" %}</a>
	</p>
</div>

{% endblock %}