{% extends "blog/base.html" %}
{% load blog_tags %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<h2>{% trans "Similar posts" %}</h2>
{% for post in similar_posts %}
<p>
<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
</p>
{% empty %}
{% trans "There are no similar posts yet." %}
{% endfor %}
    <h1>{{ post.title }}</h1>
    <p class="date">{% trans "Published" %}{{ post.publish }}
    {% trans "by" %}{{ post.author }}</p>
    {{ post.body|markdown }}
   {% with comments.count as total_comments %}
   	<h2>
   		{{ total_comments }} {% trans "comment" %}{{ total_commenyts|pluralize }}
   		 	{% endwith %}
   	</h2>

   	{% for comment in comments %}
   	 	<div class="comment">
   	 		<p class="info">
   	 		 	{% trans "Comment" %}{{ forloop.counter }}{% trans "by" %}{{ comment.name }} {{ comment.created }}
   	 		 </p>
   	 		 {{ comment.body|linebreaks }}
		</div>
		{% empty %}
		<p>{% trans "There are no comments yet." %}</p>
		{% endfor %}
	{% if new_comment %}
		<h2>{% trans "Your comment has been added to" %}</h2>
		{% else %}
			<h2>{% trans "Add a new comment" %}</h2>
			<form action="" method="post">
				{{ comment_form.as_p }}
					{% csrf_token %}
				<p><input type="submit" value="Add Comment"></p>
			</form>
	{% endif %}
{% endblock %}